// 设置界面样式

@import (multiple, less) 'base.less';

@ad-image-width: 560px;

/* 设置页面 */
body {
  margin: 100px auto;
  width: 600px;
  height: 70vh;
  background-color: @base-color-white;
}

/* 标题 */
.Easy-ZD-title {
  text-align-last: justify;
}

.Easy-ZD-logo-image-box {
  display: inline-block;
}

/* Logo 图标 */
.Easy-ZD-logo-image {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
}

.Easy-ZD-setting-save-btn {
  display: inline-block;
  color: #fff;
  background-color: #2180e5;
  border-color: #2180e5;
}

/* 设置表单 */
.Easy-ZD-setting-form {

}

/* 设置表单 */
.Easy-ZD-hr {
  border-block-color: revert;
  border: none;
  background-color: @base-color-brown;
  height: 2px;
}

/* 设置单元行 */
.Easy-ZD-setting-row {
  display: block;
  min-height: 40px;
  margin-block-start: 10px;
  margin-block-end: 10px;
}


/* 设置标题 */
.Easy-ZD-setting-form-label {
  width: 140px;
  display: inline-block;
  font-weight: bold;
}

/* 文本输入框 */
.Easy-ZD-setting-input-text {
  width: 260px;
}

/* 勾选框 */
.Easy-ZD-setting-input-checkbox {
  width: 16px;
  height: 16px
}

/* 单选框 */
.Easy-ZD-setting-form-radio {
  padding-right: 20px;
  display: inline-block;
  min-width: 70px;
}

/* 标题 */
.Easy-ZD-h4 {
  font-weight: initial;
  text-align: right;
  padding-block-start: 0.2rem;
  padding-block-end: 0.2rem;
  margin-block-start: auto;
  margin-block-end: auto;
}

/* 支持页面 */
.Easy-ZD-setting-supper-fieldset {
  border-color: blanchedalmond;
  color: plum;
}

/* 支持页面广告 */
.Easy-ZD-supper-ad img {
  display: block;
  width: @ad-image-width;
  height: 240px;
  margin: 0 auto;
}

/* 支持页面 */
.Easy-ZD-supper-ul {
  background-color: @base-color-gray;
  width: @ad-image-width;
  display: block;
  margin: 0 auto;
  padding: 0;
}

/* 支持页面超链接 */
.Easy-ZD-supper-li {
  margin: 0 11.9%;
  display: inline;
}

.Easy-ZD-supper-li a {
  color: #0060B6;
  text-decoration: none;
}

.Easy-ZD-supper-li a:hover {
  color: #00A0C6;
  text-decoration: none;
  cursor: pointer;
}