/* 基础样式定义 */
/* 白色 */
/* 灰色,浅灰色 */
/* 黑色 */
/* 字体,浅黑 */
/* 红色 */
/* 黄色 */
/* 灰蓝,图标色 */
/* 浅色,天蓝 */
/* 深蓝,海蓝 */
/* 棕色 */
/* 字体大小 */
body {
  margin: 100px auto;
  width: 600px;
  background-color: #FFFAFC;
}
